In [49]:
import numpy as np
list1=[['sam',18,'male',101],['ram',18,'male',102],['seetha',18,'female',103],['sandy',18,'male',104]]
print(list1)

[['sam', 18, 'male', 101], ['ram', 18, 'male', 102], ['seetha', 18, 'female', 103], ['sandy', 18, 'male', 104]]

In [16]:
ar1=np.asarray(list1)
print(ar1)
print('type :',type(ar1))
print("size:",ar1.size)
print("shape :",ar1.shape)
print("itemsize :",ar1.itemsize)
print('number of dimension :',ar1.ndim)

[['sam' '18' 'male' '101']
 ['ram' '18' 'male' '102']
 ['seetha' '18' 'female' '103']
 ['sandy' '18' 'male' '104']]
type : <class 'numpy.ndarray'>
size: 16
shape : (4, 4)
itemsize : 84
number of dimension : 2

In [48]:
reshape=ar1.reshape(2,2,2,2)
print(reshape)

[[[['sam' '18']
   ['male' '101']]

  [['ram' '18']
   ['male' '102']]]


 [[['seetha' '18']
   ['female' '103']]

  [['sandy' '18']
   ['male' '104']]]]

In [42]:
array=[0,0,0,0]
list=[[ar1[0][0],ar1[1][0],ar1[2][0],ar1[3][0]],[ar1[0][1],ar1[1][1],ar1[2][1],ar1[3][1]],[ar1[0][2],ar1[1][2],ar1[2][2],ar1[3][2]],[ar1[0][3],ar1[1][3],ar1[2][3],ar1[3][3]]]
for i in range(4):
  array[i]=np.asarray(list[i])
  print(array[i])

['sam' 'ram' 'seetha' 'sandy']
['18' '18' '18' '18']
['male' 'male' 'female' 'male']
['101' '102' '103' '104']